In [ ]:
#El dataframe de pandas sirve para trabajar con estructuras de dos dimensiones y se pueden cargar 
#de dos maneras, manualmente o leyendo de un fichero, base de datos o cualquier origen de datos.
#Dataframe creado manualmente
import pandas as pd
clase = pd.DataFrame([{"Nombre":"Pedro","Estatura":1.72, "Edad":28},
                      {"Nombre":"Maria","Estatura":1.73, "Edad":45},
                      {"Nombre":"Andrea","Estatura":1.68, "Edad":61},
                      {"Nombre":"Marcos","Estatura":1.65, "Edad":19}])
clase

In [ ]:
#como ver solamente un campo o columna
clase["Nombre"]

In [ ]:
clase["Edad"]

In [ ]:
clase["Edad"].sort_values(ascending=True)

In [ ]:
#Funciones de resumen
print(clase["Edad"].sum())
print(clase["Estatura"].max())
print("la persona de menos estatura", clase["Estatura"].min())
#promedio de edad con redondeo
print("El promedio de edad es",round(clase["Edad"].mean(),2))

In [ ]:
#como añadir columnas a un dataframe, tenemmos tres opciones:
#Opción A: Poniendo un valor manual
#Opción B: Haciendo un calculo a partirde una oi varias columnas existentes
#Opción C:Aplicando una función con Apply

#Opción A
clase["Colegio"] = "IT Academy"
clase

In [ ]:
#Opción B
clase["Edad2"] = clase["Edad"] + 2  #puedo sumar 2 a la edad porque edad es un campo numerico
clase

In [ ]:
clase["Diferencia"] = clase["Edad2"] - clase["Edad"]
clase

In [ ]:
#Incrementar la estatura de cada alumno en un 10%
clase["Estatura2"] = clase["Estatura"] + clase["Estatura"]*0.10
clase["Estatura3"] = clase["Estatura"]*1.10 #otra forma de hacerlo directo
clase

In [ ]:
#Opción C: con apply, restar 2 años a los alumnos mayores de 30 años
def resta2(edad):
    if edad>30:
        return edad-2
    else:
        return edad
#Crear la columna nueva con la función apply
clase["Edad5"] = clase["Edad"].apply(resta2)
clase

In [ ]:
#Como eliminar una columna, con la instrucción drop + el parámetro axis
#axis = 1 significa que se va a eliminar una columna
clase = clase.drop(["Estatura3"], axis=1)
clase

In [ ]:
#Elimina directo, sin tener que asignarlo otra vez a él mismo
clase.drop(["Edad2"], axis=1, inplace=True)

In [ ]:
#Para eliminar una fila, lo mismo que con las columnas, pero con axis=0
clase.drop([2], axis=0, inplace=True)
clase

In [ ]:
#Cargar un dataframe a partir de un fichero plano, en este caso será un csv
#para cargar un csv, no necesito ninguna librería adicional, ya que pandas ya lo trae por defecto
#solamente necesito la ruta del fichero
import pandas as pd
titanic = pd.read_csv(r"C:\Users\geb_b\Downloads\Titanic.csv")
#No funciona porque no reconoce el slash \, varias opciones:
#Primero poner una r antes de la ruta
#Segunda opción cambiar el slash por una barra inclinada /
#Tercera opción cambiar el slash por dos slash \\
titanic

In [ ]:
#Quiero ver solamente los 10 primeros registros, voy a usar la función head
titanic.head(10)

In [ ]:
#Quiero ver solamente los 10 últimos registros, voy a usar la función tail
titanic.tail(10)

In [ ]:
#Ver solamente los 5 primeros nombres
titanic["Name"].head()

In [ ]:
#Ver solamente los 5 primeros nombres, pero en orden ascendente
titanic["Name"].head().sort_values(ascending=True)

In [ ]:
titanic5P = titanic["Name"].head().sort_values(ascending=True, ignore_index=True) #si quiero que se reindexe uso ignore_index=True
titanic5P

In [ ]:
#Ver todos los pasajeros cuyo nombre contenga la palabra Henry, contains una función del módulo str (string)
titanic["Name"].str.contains("Henry")

In [ ]:
titanic[titanic["Name"].str.contains("Henry")]

In [ ]:
titanicHenry = titanic["Name"].str.contains("Henry") #creo una variable para guardar el filtro (da el mismo resultado que en la celda anterior)
titanic[titanicHenry]

In [ ]:
#Ver los pasajeros que viajaban en clase 2
titanicC2 = titanic["Pclass"] == 2
titanic[titanicC2]

In [ ]:
#Ver la estructura del dataframe con la función info
titanic.info()

En un fichero nuevo de Python:
Cargaremos el fichero titanic.csv y resolveremos los siguientes enunciados.
1- Ver los 6 primeros nombres de los pasajeros de la clase 1 (en orden descendente)
2- Ver las 3 últimas edades de los pasejeros de la clase 3
3- Ver los 4 primeros nombres de los pasajeros que no sean de la clase 2
4- Ver los 6 primeros pasajeros cuyo nombre contiene la palabra Mary
5- Ver los 10 primeros de nombres de los pasajeros que sobrevieron (survived = 0, survived = 1)

In [ ]:
import pandas as pd #crear un nuevo fichero con file new file
titanic = pd.read_csv(r"C:\Users\geb_b\Downloads\Titanic.csv")
titanic

#Punto1: Ver solamente los 6 primeros nombres de la clase 1 (descendente)

# Filtrar los pasajeros de la clase 1
titanic_clase1 = titanic[titanic["Pclass"] == 1]

# Seleccionar la columna "Name" y obtener los primeros 6 nombres
primeros_6_nombres_clase1 = titanic_clase1["Name"].head(6).sort_values(ascending=False)

# Mostrar los resultados
print(primeros_6_nombres_clase1)

In [ ]:
#otra forma de hacer el punto 1 (forma hecha en clase por el profesor)
titanicC1 = titanic["Pclass"] == 1
#Creando un dataframe nuevo solo con clase 1
titanic2 = titanic[titanicC1]
titanic2["Name"].head(6).sort_values(ascending=False)

titanic[titanicC1]["Name"].head(6).sort_values(ascending=False)
titanic[titanicC1].Name.head(6).sort_values(ascending=False)
titanic["Name"][titanicC1].sort_values(ascending=False).head(6)   
#Para ver más de un campo  
titanic[["Name", "Age", "Sex"]]

In [ ]:
#Punto 2: Ver las 3 últimas edades de los pasejeros de la clase 3
titanic_clase3 = titanic[titanic["Pclass"] == 3]
# Seleccionar la columna "Age" y obtener las últimas 3 edades
ultimas_3_edades_clase3 = titanic_clase3["Age"].tail(3)
# Mostrar los resultados
print(ultimas_3_edades_clase3)

In [ ]:
#Punto 3: Ver los 4 primeros nombres de los pasajeros que no sean de la clase 2
titanic_no_clase2 = titanic[titanic["Pclass"] != 2]
# Seleccionar la columna "Name" y obtener los primeros 4 nombres
primeros_4_nombres_no_clase2 = titanic_no_clase2["Name"].head(4)
# Mostrar los resultados
print(primeros_4_nombres_no_clase2)

In [ ]:
#Punto 4: Ver los 6 primeros pasajeros cuyo nombre contiene la palabra Mary
titanic_mary = titanic[titanic["Name"].str.contains("Mary")] #aquí hago el filtro
# Seleccionar la columna "Name" y obtener los primeros 6 nombres
primeros_6_nombres_mary = titanic_mary["Name"].head(6)
# Mostrar los resultados
print(primeros_6_nombres_mary)

In [ ]:
#Punto 5: Ver los 10 primeros de nombres de los pasajeros que sobrevieron (survived = 0, survived = 1)
titanic_survived = titanic[titanic["Survived"] == 1]
# Seleccionar la columna "Name" y obtener los primeros 10 nombres
primeros_10_nombres_survived = titanic_survived["Name"].head(10)
# Mostrar los resultados
print(primeros_10_nombres_survived)
titanic_no_survived = titanic[titanic["Survived"] == 0]
# Seleccionar la columna "Name" y obtener los primeros 10 nombres
primeros_10_nombres_no_survived = titanic_no_survived["Name"].head(10)
# Mostrar los resultados
print(primeros_10_nombres_no_survived)

In [ ]:
#Como saber el número de personas de la clase 1
numero = titanic[titanicC1].PassengerId.count()
print("El número de personas de la clase 1 es:", numero)

In [ ]:
#Como aplicar más de una condición a un filtro, para ello usaremos los operadores de lógica OR y AND, 
#en el caso del OR usaremos este caracter| tecla ALT GR + 1, y en el caso del AND usaremos este 
#caracter & tecla ALT GR + 6
titanicC13 = (titanic["Pclass"] == 1) | (titanic["Pclass"] == 3) #para que funcione tengo que poner paréntesis para cada condición
titanic[titanicC13].PassengerId.count()

In [ ]:
#Pasajeros de la clase 2, puerta S
titanicC2PS = (titanic["Pclass"] == 2) & (titanic["Embarked"] == "S")
titanic[titanicC2PS]

In [ ]:
#Ver los diferentes valores de un campo, usaremos la función unique
titanic["Pclass"].unique()

In [ ]:
#Practica 10: ver la cantidad de pasajeros que son hombres de la clase 1 y que embarcaron en la puerta S
titanic_male_C1_PS = (titanic["Sex"] == "male") & (titanic["Embarked"] == "S") & (titanic["Pclass"] == 1)
print("El numero de pasajeros hombres de la clase 1 y que embarcaron en", titanic[titanic_male_C1_PS].PassengerId.count())

In [ ]:
#Practica 11: ver los nombres de los pasajeros de la clase 3 que no sobrevivieron
titanic_no_survived_C3 = (titanic["Pclass"] == 3) & (titanic["Survived"] == 0)
titanic[titanic_no_survived_C3]["Name"] #también puedo hacer .Name al final para ver solo los nombres

In [ ]:


#Practica 12: ver los 12 últimos nombres en ordes descendente de los pasajeros que son mujeres de la clase 3 y 
#cuyo passangerId es mayor a 100
titanic_female_C3 = (titanic["Sex"]=="female") & (titanic["Name"].tail(12).sort_values(ascending=False)) & (titanic["PassengerId" > 100])
titanic_female_C3

In [ ]:
#Practica 13: ver una lista con los nombres cuyo passengerId esté comprendido entre 70 y 180

titanic70180 = (titanic["PassengerId"] >= 70) & (titanic["PassengerId"] <= 180)
titanic[titanic70180].Name